@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Black.ttf');
}
.area{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  width: 350px;
  height: 350px;
  border: 0.5px solid lightgray;
  box-shadow: 0.5px;
  border-radius: 5px;
  margin-bottom:  100px;
}
.title
{
  width: 100%;
  height: 24px;
  font-family: 'Roboto';
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}
.body{
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textField
{
  width: 83%;
  height: 200px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.buttons{
  margin-top: 30px;
  width: 83%;
  display: flex;
}
.buttons>.flex
{
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}